
.custom-row {
  background-color: #f0f0f0;

  &:nth-child(even) {
    background-color: #e0e0e0;
      padding: 10%;

  }

  &:hover {
    background-color: #d0d0d0;
    
  }
}

@media screen and (max-width: 1200px) {
  .Table {
    width: 170%;
    margin-top: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .Table{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }
}
