*{
  margin: 0;
  box-sizing: border-box;
}

.App{
font-family: "Inter", system-ui;
height: 100vh;
background-color: rgb(239, 244, 255);
display: flex;
justify-content: center;
align-items: center;
}

.main_container{
  width: 95%;
height: 95%;
/* background-color: rgb(22, 68, 175); */
      background-color: #0c54ab;

display: grid;
border-radius: 1.2rem;
overflow: hidden;
/* background-color: rgb(8 51 68); */
grid-template-columns: 10rem auto 18rem;
gap: 10px;
}



@media screen and (max-width:1400px) {
  .main_container{
    /* background-color: red; */
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }

  @media screen and (max-width: 1200px) {
  .main_container{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .main_container{
    grid-template-columns: 1fr;
  } 
}
}